@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Pattaya&family=Roboto:wght@300&family=Space+Grotesk:wght@500&display=swap');
body{
    background-color: rgb(11, 15, 80);

    /* background-color: rgb(11, 17, 34); */
    
}



.logoFont{
    font-family: 'Pattaya', sans-seri ;
}
.descFont{
    font-family: 'Space Grotesk', sans-serif;
}
.appFont{
    font-family: 'Roboto', sans-serif;
}

.shadow{
box-shadow: 10px 5px 5px rgb(141, 177, 244);
}